doctype html
html
  head
    meta(charset='utf-8')
    title Bucket List
    link(rel='stylesheet', href='/vendor/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
    include ./partials/header.jade
  body
    block content
    script(src='/vendor/moment/moment.js')
